
snippet lr
	# lritter `system("date '+%Y-%m-%d %H:%M:%S'")`:  

snippet #lr
	# lritter `system("date '+%Y-%m-%d %H:%M:%S'")`:  

snippet #h
	# HACK `system("date '+%Y-%m-%d %H:%M:%S'")`:  

snippet #t
	# TODO `system("date '+%Y-%m-%d %H:%M:%S'")`:  
